.top-btn{
    position: fixed;
    right: 20px;
    bottom: 10px;
    border-radius: 100%;
    border: 1px solid transparent;
    padding: auto;
    font-size: 2em;
    font-weight: 500;
    background-color:rgb(209, 200, 198);
    color: black;
    cursor: pointer
}

.top-btn:hover {
    background-color: black;
    color: white;
  }
 