.nav-tabs .nav-link {
  background-color: rgb(201, 194, 184);
  font-family: 'Times New Roman', Times, serif;
  
  border-color: rgb(58, 56, 56) !important;
  border-radius: 5px;
  border-width: 2px;
  color: rgb(83, 79, 69);
}


